.form {
    margin-left: 156px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.form label {
    margin-bottom: 5px;
  }

.form fieldset {
    border: 2px solid #ccc; /* товщина і колір рамки */
    border-radius: 5px; /* закругленість кутів */
    padding: 10px; /* відступ всередині */
    width: 200px; /* ширина */
  }
  
  /* Стилізація legend */
  .form fieldset legend {
    font-weight: bold; /* жирний шрифт */
    margin-bottom: 10px; /* відступ від тексту до рамки */
  }
  
  /* Стилізація радіокнопок */
  .form fieldset input[type="radio"] {
    margin-right: 5px; /* відступ між радіокнопками та текстом */
  }

  .form button {
        border-radius: 8px;
        display: block;
        width: 360px;
        height: 40px;
        margin-top: 24px;
  }